
<div class="card">
  <div class="card-block">
<div class="card-title"><h3>{{title}}</h3></div>
<table class="table table-sm table-bordered">
  <thead>
    <tr><th>Code</th><th>Name</th><th>Gender</th><th>DateOfBirth</th><th>Department</th><th>Post</th><th>Salary</th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{emp.empCode}}</td><td>{{emp.empName}}</td><td>{{emp.gender}}</td><td>{{emp.dob|date:"dd-MM-y"}}</td><td>{{emp.deptname}}</td><td>{{emp.desig}}</td><td>{{emp.salary|currency:"INR":1.00}}</td>
    </tr>
  </tbody>
</table>
  </div>
</div>